.header {
    background: green;
    height: 100px;
}
.azul {
    background: blue;
    height: 200px;
    width: 49.5%;
    display: inline-block;
}
.amarelo {
    background: yellow;
    height: 200px;
    width: 49.5%;
    display: inline-block;
}
body {
    background: lightblue;
    font-size: 36px;
}