body {
    background: darkslategray;

}

div {
    display: inline-block;
    background: white;
    text-align: center;
    align-items: center;
}

h1 {
    font-family: "Bauhaus 93";

}

.login {
    text-align: center;
    align-items: center;
}