table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

h4 {
    margin: 0;
    color: darkblue;
    text-align: left;
}

thead {
    background: cornflowerblue;
}

td, th {
    text-align: center;
}